﻿@using StudentMatchingPlatform.Entities
<!DOCTYPE html>
<html>

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        .jumbotron {
            background-color: white;
        }
    </style>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>

<body>

    @{
        Students student = null;
        if (Session["login"] != null)
        {
            student = Session["login"] as Students;
        }
    }

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @if (student == null)
        {
            <a class="navbar-brand" href="/Home/Index">Student Matching Platform</a>
        }
        else
        {
            <a class="navbar-brand" href="/Home/InterestArea">Student Matching Platform</a>
        }
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @if (student != null && student.IsAdmin == true)
                    {
                        <a class="nav-link" href="#">Admin</a>
                    }
                </li>
            </ul>

            @if (student == null)
            {
                <a href="/Home/Login" class="btn btn-outline-success" style="margin-right:8px" role="button" aria-disabled="true"><span class="glyphicon glyphicon-log-in"></span>Login</a>
                <a href="/Home/Register" class="btn btn-outline-success" style="margin-right:8px" role="button" aria-disabled="true"><span class="glyphicon glyphicon-log-out"></span>Register</a>
                <a href="/Home/ForgotPassword">Forgot Your Password?</a>
            }
            else
            {
                if (student.PreviousMatches != null)
                {
                    <a href="/Home/PreviousMatchInfo" class="btn btn-outline-dark" style="margin-right:8px" role="button" aria-disabled="true">My Previous Matches</a>
                }
                if (student.Matches != null)
                {
                    <a href="/Home/MatchingInfo" class="btn btn-outline-warning" style="margin-right:8px" role="button" aria-disabled="true">Matching Informations</a>
                    <a href="/Home/Messages" class="btn btn-outline-success" style="margin-right:8px" role="button" aria-disabled="true">Messages</a>
                }
                <a href="/Home/Account" class="btn btn-outline-info" style="margin-right:8px" role="button" aria-disabled="true">Account</a>
                <a href="/Home/Logout" class="btn btn-outline-danger" style="margin-right:8px" role="button" aria-disabled="true">Logout</a>
            }
        </div>
    </nav>

    <div class="container-fluid" style="padding-left:80px; padding-right:80px; padding-bottom:80px;">
        @RenderBody()
        @RenderSection("scripts", false)
    </div>

    <div class="container">
        <footer class="py-4 bg fixed-bottom">
            <hr />
            <div class="container">
                <p class="m-0 text-center">Copyright &copy; Student Matching Platform @DateTime.Now.Year </p>
            </div>
            <!-- /.container -->
        </footer>
    </div>
</body>
</html>