﻿@using StudentMatchingPlatform.Entities.Messages
@using StudentMatchingPlatform.WebApp.ViewModels
@model ErrorViewModel
@{
    ViewBag.Title = Model.Title;
}


<div class="container">
    <div class="container-fluid h-100">
        <div class="row">
            <div class="col-md-6 offset-md-3 p-0 h-100">
                <div class="jumbotron h-100 m-0 d-flex flex-column justify-content-center">
                    <h2>@Model.Header</h2>
                    <p>
                        @foreach (ErrorMessageObject message in Model.Items)
                        {
                            @message.Message<br>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    string js = string.Empty;

    if (Model.IsRedirecting == true)
    {
        js = "setTimeout(function() { window.location = '" + Model.RedirectingUrl + "' }," + Model.RedirectingTimeout + ");";
    }
}

<script>
    $(function () {
        @Html.Raw(js)
    });
</script>

