﻿@using StudentMatchingPlatform.WebApp.ViewModels
@model WarningViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="row" style="margin-top:80px">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2>@Model.Header</h2
        <p>
            @foreach (string message in Model.Items)
            {
                @message<br>
            }
        </p>
    </div>
    <div class="col-sm-4"></div>
</div>

@{
    string js = string.Empty;

    if (Model.IsRedirecting == true)
    {
        js = "setTimeout(function() { window.location = '" + Model.RedirectingUrl + "' }," + Model.RedirectingTimeout + ");";
    }
}

<script>
    $(function () {
        @Html.Raw(js)
    });
</script>

