﻿@using StudentMatchingPlatform.Entities
@model Students

@{
    ViewBag.Title = "Account";
}

<div class="row" style="margin-top:80px">
    <div class="col-md-2"></div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="inputAddress"><b>Name</b></label>
            <p>@(Model.Name)</p>
        </div>
        <div class="form-group">
            <label for="inputAddress2"><b>Surname</b></label>
            <p>@(Model.Surname)</p>
        </div>
        <div class="form-group">
            <label for="inputAddress2"><b>Mail Address</b></label>
            <p>@(Model.Email)</p>
        </div>
        <div class="form-group">
            <label for="inputAddress2"><b>Date of Birth</b></label>
            <p>@(Model.DOB)</p>
        </div>
    </div>
    <div class="col-sm-4">

        <div class="form-group">
            <label for="inputAddress2"><b>University</b></label>
            <p>@(Model.University)</p>
        </div>
        <div class="form-group">
            <label for="inputAddress2"><b>Department</b></label>
            <p>@(Model.Department)</p>
        </div>
        <div class="form-group">
            <label for="inputAddress2"><b>Class</b></label>
            <p>@(Model.Class)</p>
        </div>
        <div class="form-group">
            <label for="inputAddress2"><b>GPA</b></label>
            <p>@(Model.GPA)</p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="form-group">
            <a href="@Url.Action("EditAccount")" class="btn btn-info btn-block" role="button">Update Informations</a>
        </div>
        <div class="form-group">
            <a href="@Url.Action("RemoveAccount")" class="btn btn-danger btn-block" role="button" onclick="return confirm('Are you sure remove this account?');">Delete My Account</a>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

