﻿@using StudentMatchingPlatform.Entities.ViewModels
@model EditProfileViewModel

@{
    ViewBag.Title = "Edit Account";
}

@using (Html.BeginForm("EditAccount", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Student._id) //keep for user id, hidden field
    @Html.HiddenFor(model => model.Student.Email)
    <div class="row" style="margin-top:80px">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputAddress"><b>Name</b></label>
                @Html.EditorFor(model => model.Student.Name, new { htmlAttributes = new { @class = "form-control", minlength = "2", maxlength = "25", pattern = "[^0-9]+", required = "required" } })
            </div>
            <div class="form-group">
                <label for="inputAddress2"><b>Surname</b></label>
                @Html.EditorFor(model => model.Student.Surname, new { htmlAttributes = new { @class = "form-control", minlength = "2", maxlength = "25", pattern = "[^0-9]+", required = "required" } })
            </div>
            <div class="form-group">
                <label for="inputAddress2"><b>Date of Birth</b></label>
                @Html.EditorFor(model => model.Student.DOB, new { htmlAttributes = new { @class = "form-control", @type = "date", min = "1930-01-01", max = "2005-12-31", required = "required" } })
            </div>
            <div class="form-group">
                <label for="inputAddress2"><b>University</b></label>
                <select class="form-control" id="Student_University" name="Student.University">
                    @{
                        foreach (var uni in Model.Universities)
                        {
                            <option value="@uni.Name">@uni.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputAddress2"><b>Department</b></label>
                @Html.DropDownListFor(model => model.Student.Department,
                    new List<SelectListItem>
                    {
                       new SelectListItem{ Text="Computer Engineering", Value = "Computer Engineering" },
                        new SelectListItem{ Text="Software Engineering", Value = "Software Engineering" },
                        new SelectListItem{ Text="Industrial Engineering", Value = "Industrial Engineering" },
                        new SelectListItem{ Text="Statistics", Value = "Statistics" },
                        new SelectListItem{ Text="Mathematics", Value = "Mathematics" },
                        new SelectListItem{ Text="Cyber Security", Value = "Cyber Security" },
                        new SelectListItem{ Text="Machine Learning", Value = "Machine Learning" }
                    },
                    new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="inputAddress2"><b>Class</b></label>
                @Html.DropDownListFor(model => model.Student.Class,
                    new List<SelectListItem>
                    {
                        new SelectListItem{ Text="1", Value = "1" },
                        new SelectListItem{ Text="2", Value = "2" },
                        new SelectListItem{ Text="3", Value = "3" },
                        new SelectListItem{ Text="4", Value = "4" },
                        new SelectListItem{ Text="Prep", Value = "Prep" },
                    },
                    new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="inputAddress2"><b>GPA</b></label>
                @Html.EditorFor(model => model.Student.GPA, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 0, @max = 4, step = "any", required = "required" } })
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">

                @**<a href="@Url.Action("EditAccount")" class="btn btn-info btn-block" role="button">Save</a>*@
                <input type="submit" value="Save" class="btn btn-success btn-block" />
                @Html.ActionLink("Cencel", "Account", "Home", null, new { @class = "btn btn-secondary btn-block" })

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
}