﻿
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-8 col-md-offset-2" style="padding:160px; margin-left:360px">

        @{
            Exception ex = null;

            if (TempData["LastError"] != null)
            {
                ex = TempData["LastError"] as Exception;
            }
        }


        <h1><span class="glyphicon glyphicon-remove"></span> An Error Occurred</h1>
        <br />
        <p>
            Even if nothing happened, It was absolutely something happened and we could not notice that..
            <br />
            Please contact the site administrator.
            <br /><br />
            Everything's gonna be alright :)
            <br /><br />

            @if (ex != null)
            {
                <strong>Error Information : </strong>
                @ex.Message
                <br />
            }

            <div class="row">
                <div class="col-md-5">
                    <a href="/Home/Index" class="btn btn-primary btn-block">Go to Homepage</a>
                </div>
                <div class="col-md-5">
                    <a href="mailto:firatacar.se@gmail.com" class="btn btn-primary btn-block">Send E-Mail</a>
                </div>
            </div>


        </p>

    </div>
</div>

