﻿@using StudentMatchingPlatform.Entities.ViewModels
@model ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/validation-summary.css" rel="stylesheet" />

<link href="~/Content/validation-summary.css" rel="stylesheet" />

<div class="container">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-6 offset-md-3 p-0 h-100">
                <div class="jumbotron h-100 m-0 d-flex flex-column justify-content-center">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(false)
                        <div class="form-group">
                            <label><b>E-Mail</b></label>
                            <!-- <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Please enter your university mail address">-->
                            @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control", @placeholder = "Please enter your mail address" })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Send Mail</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>