﻿@using StudentMatchingPlatform.Entities.ViewModels
@model InterestViewModel
@{
    ViewBag.Title = "InterestArea";
}

@using (Html.BeginForm("InterestArea", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(false)
    <div class="row" style="margin-top:160px">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputAddress2"><b>Select your interest area:</b></label>
                <br />
                @Html.DropDownListFor(model => model.Name,
                    new List<SelectListItem>
                    {
                        new SelectListItem{ Text="Computer Engineering", Value = "Computer Engineering" },
                        new SelectListItem{ Text="Software Engineering", Value = "Software Engineering" },
                        new SelectListItem{ Text="Industrial Engineering", Value = "Industrial Engineering" },
                        new SelectListItem{ Text="Statistics", Value = "Statistics" },
                        new SelectListItem{ Text="Mathematics", Value = "Mathematics" },
                        new SelectListItem{ Text="Cyber Security", Value = "Cyber Security" },
                        new SelectListItem{ Text="Machine Learning", Value = "Machine Learning" }
                        
                    },
                    new { @class = "form-control" })
                <div class="form-group" style="margin-top:8px;">
                    <button class="btn btn-primary btn-block" type="submit">Start Match!</button>
                </div>
                <div>
                    <strong>Rules:</strong>
                    <ul style="list-style-type:square;">
                        <li>You can match only one student.</li>
                        <li>If you have not any matching friend, you cannot see matching information and messages page.</li>
                        <li>
                            If you are not satisfied with the matching, you can remove the match on the 'Matching Informations' page.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
}
