﻿@model StudentMatchingPlatform.Entities.Students

@{
    ViewBag.Title = "MatchingInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ValidationSummary(false)
<div class="row" style="margin-top:80px;">
    <div class="col-md-6 offset-3 text-center">
        <h4>Your friend's information</h4>
        <hr />
        <dl class="dl-vertical">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.University)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.University)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Department)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Class)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Class)
            </dd>
        </dl>
        <a href="/Home/Messages" class="btn btn-primary">Start Messaging!</a>
        <br /><br />
        <a href="@Url.Action("RemoveMatch")" onclick="return confirm('Are you sure remove this match?');">Remove My Match</a>
    </div>
</div>
