﻿@using StudentMatchingPlatform.Entities
@{
    ViewBag.Title = "PreviousMatchInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>University</th>
        <th>Department</th>
        <th>Class</th>
    </tr>
    @{
        foreach (var stu in ViewData["students"] as IList<Students>)
        {
            <tr>
                <td>@stu.Name @stu.Surname</td>
                <td><a href="mailto:@stu.Email">@stu.Email</a></td>
                <td>@stu.University</td>
                <td>@stu.Department</td>
                <td>@stu.Class</td>
            </tr>
        }
    }
</table>
