﻿@using StudentMatchingPlatform.Entities.ViewModels
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<link href="~/Content/validation-summary.css" rel="stylesheet" />

<div class="container">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-6 offset-md-3 p-0 h-100">
                <div class="jumbotron h-100 m-0 d-flex flex-column justify-content-center">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(false)
                        <div class="form-group">
                            <label><b>E-Mail</b></label>
                            <!-- <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Please enter your university mail address">-->
                            @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control", minlength = "5", maxlength = "64", @placeholder = "Please enter your university mail address" })
                        </div>
                        <div class="form-group">
                            <label><b>Password</b></label>
                            <!-- <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password must be at least 8 character">-->
                            @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control", minlength = "8", maxlength = "64", @placeholder = "Password must be at least 8 character" })
                        </div>
                        <div class="form-group">
                            <label><b>Re-Password</b></label>
                            <!--<input type="password" name="checkPassword" class="form-control" id="inputPasswordCheck" placeholder="Password must be at least 8 character">-->
                            @Html.TextBoxFor(model => model.RePassword, new { @type = "password", @class = "form-control", minlength = "8", maxlength = "64", @placeholder = "Password must be at least 8 character" })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>